daemon off;

load_module /etc/nginx/modules/libbearerauth.so;

events {}

http {
    server {
        listen *;
        server_name localhost;
        root /usr/share/nginx/html;

        location /public {
            alias /usr/share/nginx/html/index.html;
        }

        location /private {
            alias /usr/share/nginx/html/index.html;
            bearer_auth $BEARER_TOKEN;
        }

        error_page 403 /403.html;
    }
}
