daemon off;

load_module /etc/nginx/modules/libjwt.so;

events {}

http {
    server {
        server_name localhost;

        location /public {
            alias /usr/share/nginx/html/index.html;
        }

        location /private {
            alias /usr/share/nginx/html/index.html;
            jwt $JWT_SECRET http://login:3000/login;
        }

        error_page 403 /403.html;
    }

    server {
        server_name login;

        location / {
            proxy_pass http://login:3000/login;
        }
    }
}
